*.swp
*.bak

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

*.pyc
*.db
*.log
*.sql
*.sqlite

*.sh

EXAMPLE_APP/__init__.py
EXAMPLE_APP/config.py
EXAMPLE_APP/config_private.py

EXAMPLE_APP/static/.webassets-cache/*
EXAMPLE_APP/venv*/*
*/__pycache__/*

**/all.min.css
**/all.min.js
**/lib.min.js
