*.swp
*.bak

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

*.pyc
*.db
*.log
*.sql
*.sqlite

*.sh

/__init__.py
/config.py
/config_private.py

/static/.webassets-cache/*
/venv*/*
*/__pycache__/*

**/all.min.css
**/all.min.js
**/lib.min.js
