<!DOCTYPE html>
<html lang="en">
 {% block head %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="apple-mobile-web-app-capable" content="yes">
 <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  {% assets "sass_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></link>
  {% endassets %}
 {% endblock head %}
<body>
  {% block body %}
  {% endblock body %}

  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block scripts %}
  {% endblock scripts %}
</body>
</html>
